@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --white: #fff;
    --bg-color: #F9F9FB;
    --primary-btn-color: #9283E0;
    --default-text-color: #000000;
    --label-text-color: ##2F4A3D;
    --passive-text-color: #9FA4AF;
    --passive-text-color-001: #747D78;
    --quote-text-color: #9283E0;
    --hover-text-color: #FF5480;
    --index-header: 10;
    --light-border: #EAEDF0;
    --shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

body *:not(#app):not(#app *) {
    display: none;
}

/* Điện thoại di động (dọc) */
@media (max-width: 320px) {}

/* Điện thoại di động (ngang) */
@media (max-width: 480px) {}

/* Máy tính bảng nhỏ (dọc) */
@media  (max-width: 600px) {}

/* Máy tính bảng nhỏ (ngang) */
@media  (max-width: 800px) {}

/* Máy tính bảng lớn (dọc) */
@media  (max-width: 768px) {}

/* Máy tính bảng lớn (ngang) */
@media (max-width: 1024px) {}